{% load i18n %}
<a href="{% url 'new_contract' %}" class="mobile-only">New contract</a>
<div class="pillnav">
    <a href="{% url 'new_contract' %}" class="pill">
        <button type="button" class="new-btn pill-btn">
            {% trans 'Create New' %}
        </button>
    </a>
    <a href="{% url 'contracts' status='active' %}" class="pill">
        <button class="{% if status == 'active' %}active {% endif %} pill-btn">
            {% trans 'Active' %}
        </button>
    </a>
    <a href="{% url 'contracts' status='negotiation' %}" class="pill">
        <button type="button" class="{% if status == 'negotiation' %}active {% endif %} pill-btn">
            {% trans 'Negotiation' %}
        </button> 
    </a>
    <a href="{% url 'contracts' status='expired' %}" class="pill">
        <button class="{% if status == 'expired' %}active {% endif %} pill-btn">
            {% trans 'Expired' %}
        </button>
    </a>
    <a href="{% url 'contracts' status='all' %}" class="pill">
        <button type="button" class="{% if status == 'all' %}active {% endif %} pill-btn">
            {% trans 'All' %}
        </button>
    </a>
</div> 