{% extends 'deals/base.html' %}
{% load static %}

{% block content %}
<div>
    <h1>Contract details: {{contract}}</h1>
    <p>{{contract.contract_number}}</p>
    <a href="{% url 'edit_contract' pk=contract.pk %}">Edit</a>
    <table class="contracts-table">
        <tr>
            <th>Partner</th>
            <td>
                <a href="{% url 'partner_contracts' pk=contract.contract_party.pk %}">
                    {{contract.contract_party}}
                </a>
            </td>
        </tr>
        <tr>
            <th>Status</th><td>{{contract.status|title}}</td>
        </tr>
        <tr>
            <th>Status</th><td>{{contract.description|title}}</td>
        </tr>
        <tr>
            <th>Category</th><td>{{contract.contract_type|title}}</td>
        </tr>
        <tr>
            <th>Valid from</th><td>{{contract.valid_from}}</td>
        </tr>
        <tr>
            <th>Expires</th><td>{{contract.expires}}</td>
        </tr>
        <tr>
            <th>Document</th><td>{% if contract.document_link %}<a href="{{contract.document_link}}" target="_blank">{{contract.document_link}}</a>{% endif %}</td>
        </tr>
        <tr>
            <th>Owner</th><td>{{ contract.owner }}</td>
        </tr>
        <tr>
            <th>Notes (click edit to change)</th><td>{{ contract.notes }}</td>
        </tr>
    </table>
</div>


{% endblock %}