{% extends 'deals/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<h1>{{heading}} <span class="queryterm">{{queryterm}}</span></h1>

{% include 'deals/contract_table_pills.html' %}
<div class="error">{{ error }}</div>
<table class="contracts-table">
    <tr>
        <th>{% trans 'Partner' %}</th>
        <th>{% trans 'Contract No.' %}</th>
        <th>{% trans 'Type' %}</th>
        <th>{% trans 'Description' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Expires' %}</th>
    </tr>
    {% for contract in contracts %}
    <tr>
        <td>
            <a href="{% url 'partner_contracts' pk=contract.contract_party.pk %}">
                {{contract.contract_party}}
            </a>
        </td>
        <td>
            <a href="{% url 'contract_detail' pk=contract.pk %}">
                {{contract.contract_number}}
            </a>
        </td>
        <td>
            {% if contract.contract_type_trans %}
                {{contract.contract_type_trans|upper }}
            {% else %}
                {{contract.contract_type|upper}}
            {% endif %}
        </td>
        
        <td>{{contract.description}}</td>
        <td>
            <a href="{% url 'contracts' status=contract.status %}">
                {% if contract.status_trans %}
                    {{contract.status_trans|upper}}
                {% else %}
                    {{contract.status|upper}}
                {% endif %}
            </a>
        </td>
        <td>{{contract.expires}}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}