{% extends 'deals/base.html' %}
{% load static %}

{% block content %}
<h1>{{heading}} <span class="queryterm">{{queryterm}}</span></h1>
<a href="{% url 'new_contract' %}">New contract</a>
<div class="error">{{ error }}</div>
<table class="contracts-table">
    <tr>
        <th>Partner</th>
        <th>Contract No.</th>
        <th>Type</th>
        <th>Description</th>
        <th>Status</th>
        <th>Expires</th>
    </tr>
    {% for contract in contracts %}
    <tr>
        <td>
            <a href="{% url 'partner_contracts' pk=contract.contract_party.pk %}">
                {{contract.contract_party}}
            </a>
        </td>
        <td>
            <a href="{% url 'contract_detail' pk=contract.pk %}">
                {{contract.contract_number}}
            </a>
        </td>
        <td>{{contract.contract_type}}</td>
        <td>{{contract.description}}</td>
        <td>
            <a href="{% url 'contracts' status=contract.status %}">
                {{contract.status}}</td>
            </a>
        <td>{{contract.expires}}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}