{% extends 'deals/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<h1>{% trans 'Partners' %}</h1>
<a href="{% url 'new_partner' %}">{% trans 'New Contract Partner' %}</a>
<table class="contracts-table">
    <tr>
        <th>
            {% trans 'Contract partner' %}
        </th>
        <th>
            {% trans 'Entity type' %}
        </th>
        <th>
            # {% trans 'Contracts' %}
        </th>
    </tr>
    {% for partner in partners %}
        <tr>
            <td><a href="{% url 'partner_contracts' pk=partner.pk %}">{{partner.name}}</a></td>
            <td>
                {% if partner.entity_type_trans %}
                    {{partner.entity_type_trans}}
                {% else %}
                    {{partner.entity_type}}
                {% endif %}
            </td>
            <td>{{partner.numcon}}</td>
        </tr>
    {% endfor %}
</table>


{% endblock %}