{% extends 'deals/base.html' %}
{% load static %}

{% block content %}
<h1>Your Team: {{ user.profile.organization.name }}</h1>
<div>
    <details>
        <summary>
            Member invite config
        </summary>
        <div class="configform">
            <h3>Update configuration for accepting new members</h3>
            <form method="POST" name="member_accept_config">
                {% csrf_token %}
                {{ configform }}
                <input type="submit" value="Change invite config">
            </form>
        </div>
                
    </details>
    <p>
        {% if user.profile.organization.accepting_members %}
        Secret code: {{user.profile.organization.orgsecret}}
        {% else %}
        Organization is not accepting new members. Change config if you want to invite 
        new members to {{user.profile.organization.name}}.
        {% endif %}
    </p>
</div>

<table class="contracts-table">
    <tr>
        <th>Username</th>
        <th>Admin</th>
        <th>Active</th>
        <th>Last login</th>
    </tr>
    {% for member in members %}
    <tr>
        <td>{{member.username}}</td>
        <td>{{member.profile.is_admin}}</td>
        <td>{{member.is_active}}</td>
        <td>{{member.last_login}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}